/*Removes the stupid powercord badge*/
.powercord-badge {
    display: none;
}

/*remove the help button */
svg[name="Nova_Help"] {
    display: none;
}
.pc-iconWrapper {
    margin: 0;
}
.pc-iconWrapper svg {
    margin: 0px 6px;
}

/*remove the mention notification */
.bar-30k2ka,
.pc-bar,
.unreadMentionsBar-1VrBNe,
.pc-unreadMentionsBar,
.mention-1f5kbO,
.active-1SSsBb,
.pc-mention,
.pc-active {
  opacity: 0;
  visibility: hidden;
}
