@import url("https://kylerh15.github.io/Discord-Stuff/BetterDreamFrame/base/raw.css");

.appMount-3lHmkl {
	--theme-long-name: 'Serenity UI';
}

:root {
    /* Background */
    --custombackground: url(http://hdqwalls.com/wallpapers/small-memory-lp.jpg); /* Change the background */	
    /* Chat Bubbles */
    --bubblecolor: rgba(0, 0, 0, .3); /* Bubble color & transparency */
}
