.da-appMount::after {
  content: "";
  background-image: url(https://korbsstudio.com/DreamFrame/raw/w.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  opacity: 1 !important;
  color: white;
  top: 0%;
  left: 0%;
  padding: 0px;
  border-radius: 0px;
  width: 100%;
  height: 100%;
}
.app-19_DXt.da-app.platform-win {
  visibility: hidden;
  opacity: 1;
  display: none;
}
.app-19_DXt.da-app.platform-macos {
  visibility: hidden;
  opacity: 1;
  display: none;
}
.app-19_DXt.da-app.platform-linux {
  visibility: hidden;
  opacity: 1;
  display: none;
}