/* CUSTOM WORDMARK*/
.wordmark-2iDDfm::before {
  content: var(--wordMark);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
}
.wordmark-2iDDfm::after {
  content: var(--version);
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-weight: 400;
}
.wordmark-2iDDfm svg {
  display: none;
}
